{% extends "base.html" %}

{% block titulo %}
    Portal Biblioteca - TCC - Detalhes
{% endblock %}

{% block conteudo %}
    <div class="mycard">
      <h1>Livro</h1>
      <p><em>Título:</em> {{ livro.nome }}</p>
      <p><em>Autor:</em> {{ livro.autor }}</p>
      <p><em>Descrição:</em> {{ livro.descricao }}</p>
      <p><em>Gênero:</em> {{ livro.genero }}</p>
      <p><em>ISBN:</em> {{ livro.isbn }}</p>
    </div>

    <p><center>Volte para <a href="/livros">Livros</a></center></p>
{% endblock %}